.tile {
    width: 100px;
    height: 100px;
    background-color: green;
    cursor: pointer;
}

button {
    border: none;
}

table {
    margin: auto;
    width: fit-content;
    padding: 10px;
}

.start-button {
    width: 140px;
    height: 55px;
    color: white;
    background-color: black;
    border: grey solid;
    cursor: pointer;
}

.tile:active {
    background-color: red !important;
}

.disable {
    background-color: black;
    color: black;
    border: none;
}